<% include partials/header %>

<h2>Welcome to my Homepage!!!</h2>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYzFGG55GELcqpYo88IkU2h5y6ihGFBsADNNb63xNfoGrRCI2VNQ">

<% include partials/footer %>