

body{
    background: color-gradient(#00f0dd, #ff00ff);
}

.thumbnail img{
    width:100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}